<div class="row contact">
    <div class="col-12">
        <h1>Contact</h1>
        <p>Let me know your thoughts!</p>
    </div>
    <div class="col-sm-6">
        <label for="email">Email</label>
        <input type="email" placeholder="example@gmail.com">
        <label for="fullname">Full name</label>
        <input type="text" placeholder="Enter your name">
        <label for="subject">Subject</label>
        <input type="text" placeholder="Enter your subject">
    </div>
    <div class="col-sm-6">
        <label for="maessage">Message</label>
        <textarea name="message" id="message" cols="30" rows="11" placeholder="Enter your message"></textarea>
    </div>
    <div class="col-12">
        <span class="btn-see-more">Send</span>
    </div>
</div>