<form name="contact" method="POST" netlify onsubmit="submit" netlify-honeypot="bot-field">
    <div class="row contact">
        <div class="col-12">
            <h1>{{(languagesJSON$ | async)?.contact}}</h1>
            <p>{{(languagesJSON$ | async)?.let_me_know}}</p>
        </div>    
        <div class="col-sm-6">   
            <input class="d-none" name="bot-field">         
            <label for="email">{{(languagesJSON$ | async)?.email}}</label>
            <input name="email" type="email" placeholder="{{(languagesJSON$ | async)?.email_example}}">
            <label for="fullname">{{(languagesJSON$ | async)?.fullname}}</label>
            <input name="fullname" type="text" placeholder="{{(languagesJSON$ | async)?.fullname_info}}">
            <label for="subject">{{(languagesJSON$ | async)?.subject}}</label>
            <input name="subject" type="text" placeholder="{{(languagesJSON$ | async)?.subject_info}}">            
        </div>
        <div class="col-sm-6">
            <label for="maessage">{{(languagesJSON$ | async)?.message}}</label>
            <textarea name="message" id="message" cols="30" rows="11" placeholder="{{(languagesJSON$ | async)?.message_info}}"></textarea>
        </div>
        <div class="col-12">
            <div netlify-recaptcha="true"></div>
            <button class="btn-see-more" type="submit">{{(languagesJSON$ | async)?.send}}</button>
        </div>
    </div>
</form>