h1{
    font-weight: 700;
    font-size: 3em;
    padding: 0;
    margin: 0;
}
.contact{
    padding: 2em 10em;
    min-height: 75vh;
}
label{
    display: block;
    font-size: 1.5em;
}
input{
    border-radius: .5em;
    padding: .5em;
    width: 100%;
    margin: 0em auto 2em;
    background-color: var(--input-blue);
    border: .1em solid var(--border-blue);
    font-family: 'Roboto';
    color:  var(--base-blue);
}
input::placeholder{
    color: var(--border-blue);
    font-family: 'Roboto';
}
input:focus{
    outline: none;
    border: .1em solid var(--base-blue);
}
textarea{
    border-radius: .5em;
    padding: .5em;
    width: 100%;
    background-color: var(--input-blue);
    border: .1em solid var(--border-blue);
    font-family: 'Roboto';
    color:  var(--base-blue);
}
textarea::placeholder{
    color: var(--border-blue);
    font-family: 'Roboto';
}
textarea:focus{
    outline: none;
    border: .1em solid var(--base-blue);
}
/**** MOBILE ****/
@media only screen and (max-width: 480px) {
    h1{
        font-size: 2em;
    }
    label{
        font-size: 1em;
    }

}