<div class="row portfolio">
    <div class="col-12">
        <h1>{{(languagesJSON$ | async)?.portfolio}}</h1>
        <!--CARD-->
        <div *ngFor="let newProject of Projects.reverse()" class="project-card" (click)="projectNumber(newProject.id)" (click)="openProjectPortfolio()">
            <div class="project-card-img">
                <img [src]="newProject.general_project_image" alt="{{newProject.project_name}}">
            </div>
            <div class="project-card-info">
                <div class="row">
                    <div class="col-9">
                        <h3 class="project-name">{{newProject.project_name}}</h3>
                    </div>
                    <div class="col-3">
                        <p class="project-date">{{newProject.date}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--CARD--> 
    </div>
</div>
