h1{
    font-weight: 700;
    font-size: 3em;
    padding: 0;
    margin: 0;
}
.portfolio{
    padding: 2em 10em;
    min-height: 75vh;
}

/*************************MEDIA QUERIES MOBILE*************************/
@media only screen and (max-width: 576px) {
    h1{
        font-size: 2em;
    }
    .portfolio{
        padding: 1em;
    }
}
/*************************MEDIA QUERIES TABLET*************************/
@media only screen and (min-width:576.1px) and (max-width: 992px) {
    h1{
        font-size: 2em;
    }
    .portfolio{
        padding: 1em;
    }
}