<div class="row about">
    <div class="col-sm-6">
        <h1>About</h1>
        <img *ngIf="screen <= 480" src="../../../assets/imgs/about_portrait.png" alt="About portrait">
        <p>I am from Atenas, Alajuela, Costa Rica. Since childhood I loved draw different characters and design my own ones, also I appeared interesting the computation; for this reason I choosed a career related with design and software develop, because I think these are great complement.</p>
        <p>I am a student at the University of Costa Rica (UCR), I study “Informática y Tecnología Multimedia”, career focused on multimedia technology and how people can develop different applications with double perspective: designer and software developer.</p>
    </div>
    <div class="col-sm-6">
        <div>
            <img *ngIf="screen > 480" src="../../../assets/imgs/about_portrait.png" alt="About portrait">
        </div>        
        <p>Previously I studied on bilingual Palmares college, where I coursed International Baccalaureate Program. </p>
        <p>I speak my native language: Spanish. Also english in a intermediate level and french in a basic level.</p>
    </div>
</div>