<div class="row project">    
    <div class="col">
        <h1>{{Projects[id].project_name}}</h1>        
    </div>
</div>
<div class="row project">
    <div class="col">
        <h3>{{(languagesJSON$ | async)?.about_project}}</h3>
        <p>{{Projects[id].about}}</p>
        <h3>{{(languagesJSON$ | async)?.technologies_project}}</h3>
        <p>{{Projects[id].technologies}}</p>
    </div>    
</div>
<!-- PROJECT GENERAL INFO -->
<div class="row project">
    <div class="col-sm-6">
        <h3>{{(languagesJSON$ | async)?.objective}}</h3>
        <p>{{Projects[id].objective}}</p>
    </div>
    <div class="col-sm-6 text-center">
        <img [src]="Projects[id].general_project_image" alt="">
    </div>
    <div class="col">
        <div class="row">
            <div class="col-sm-4">
                <h3>{{(languagesJSON$ | async)?.client}}</h3>
                <p>{{Projects[id].client}}</p>
            </div>   
            <div class="col-sm-4">
                <h3>{{(languagesJSON$ | async)?.date}}</h3>
                <p>{{Projects[id].date}}</p>
            </div>
            <div class="col-sm-4">
                <h3>{{(languagesJSON$ | async)?.role}}</h3>
                <p>{{Projects[id].main_role}} <br>{{Projects[id].sec_role}}</p>
            </div>   
        </div>
    </div>
</div>
<!-- PROJECT GENERAL INFO -->

<!-- SKETCH -->
<div class="row project">
    <div class="col">
        <h2>{{(languagesJSON$ | async)?.sketch}}</h2>
        <div class="row">            
            <div class="col">
                <p>{{Projects[id].sketch}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img [src]="Projects[id].sketch_image" alt="">
            </div>
        </div>
    </div>
</div>
<!-- SKETCH -->

<!-- VISUAL IDENTITY -->
<div class="row project">
    <div class="col">
        <h2>{{(languagesJSON$ | async)?.visual_identity}}</h2>
        <div class="row">
            <div class="col-sm-6">
                <p>{{Projects[id].visual_identity_1}}</p>
            </div>
            <div class="col-sm-6">
                <p>{{Projects[id].visual_identity_2}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>{{(languagesJSON$ | async)?.typography}}</h3>
                <img class="w-100" [src]="Projects[id].typography_image" alt="">
            </div>
            <div class="col-sm-6">
                <h3>{{(languagesJSON$ | async)?.colors}}</h3>
                <img class="w-100" [src]="Projects[id].colors_image" alt="">
            </div>
        </div>
    </div>
</div>
<!-- VISUAL IDENTITY -->

<!-- SOLUTION -->
<div class="row project">
    <div class="col">
        <h2>{{(languagesJSON$ | async)?.solution}}</h2>
        <div class="row">            
            <div class="col">
                <p>{{Projects[id].solution}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="w-100" [src]="Projects[id].solution_image" alt="">
            </div>
        </div>
    </div>
</div>
<!-- SOLUTION -->

<!-- IMPLEMENTATIONS -->
<div class="row project">
    <div class="col">
        <h2>{{(languagesJSON$ | async)?.implementations}}</h2>
        <div class="row">            
            <div class="col-sm-6">
                <p>{{Projects[id].implementations_1}}</p>
            </div>
            <div class="col-sm-6">
                <p>{{Projects[id].implementations_2}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img class="w-100" [src]="Projects[id].implementations_image" alt="">
            </div>
        </div>
    </div>
</div>
<!-- IMPLEMENTATIONS -->

<!-- WHAT DID I LEARN? -->
<div class="row project">
    <div class="col wdil">
        <h2 class="marginbh2">{{(languagesJSON$ | async)?.what_i_learn}}</h2>
        <div class="row">
            <div class="col-sm-4 text-right font-weight-bold">
                <p>{{Projects[id].learning_1}}</p>
            </div>
            <div class="col-sm-8">
                <p>{{Projects[id].learning_1_description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-right font-weight-bold">
                <p>{{Projects[id].learning_2}}</p>
            </div>
            <div class="col-sm-8">
                <p>{{Projects[id].learning_2_description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-right font-weight-bold">
                <p>{{Projects[id].learning_3}}</p>
            </div>
            <div class="col-sm-8">
                <p>{{Projects[id].learning_3_description}}</p>
            </div>
        </div>
    </div>
</div>
<!-- WHAT DID I LEARN? -->

<div class="row project other-projects">
    <div class="col-12">
        <h2>{{(languagesJSON$ | async)?.other_projects}}</h2>   
            <!--CARD-->
            <div routerLink="/project/{{newProject.date}}/{{newProject.id}}" *ngFor="let newProject of Projects.slice(0,3)" class="project-card" (click)="setProjectId(newProject.id)">
                <div class="project-card-img">
                    <img [src]="newProject.general_project_image" alt="{{newProject.project_name}}">
                </div>
                <div class="project-card-info">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="project-name">{{newProject.project_name}}</h3>
                        </div>
                        <div class="col-3">
                            <p class="project-date">{{newProject.date}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD-->
            <div>
                <span routerLink="/portfolio" class="btn-see-more" (click)="scrollUp()">{{(languagesJSON$ | async)?.see_more}}</span>
            </div>  
    </div>    
</div>