h1{
    font-weight: 700;
    font-size: 3em;
    padding: 0;
    padding-bottom: .5em;
    margin: 0;
    display: block;
    width: 100%;
}
h2{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 2em;
}
h3{
    font-size: 1.4em;
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.project{
    padding: 2em 10em;
}
img{
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: .5em;
}
p{
    padding: .5em;
    font-size: 1.3em;
}