<div class="header-home">
    <div class="div-portrait">
        <img class="portrait" src="../../../assets/imgs/Autorretrato_Sin_Fondo.png" alt="Portrait">
    </div>
    <div class="greeting">
        <h2>Hello, I am</h2>
        <h1>Willy Lara Campos</h1>
        <h3>Graphic Designer and Software Developer</h3>
    </div>
    <div class="row main-skills">
        <div class="col">
            <h4 class="text-right">Main skills</h4>
            <img src="../../../assets/imgs/svg/icon_figma.svg" alt="Figma icon">
            <img src="../../../assets/imgs/svg/icon_inkscape.svg" alt="Inkscape icon">
            <img src="../../../assets/imgs/svg/icon_html5.svg" alt="HTML icon">
            <img src="../../../assets/imgs/svg/icon_css3.svg" alt="CSS icon">
            <img src="../../../assets/imgs/svg/icon_javascript.svg" alt="Javascript icon">
        </div>
    </div>
    
    <div class="row recent-projects">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <h4>Recent Projects</h4>
            <div class="img-recent-project">
                <img src="../../../assets/imgs/Error 404 Desktop not found.png" alt="Recent project 1">
            </div>
            <div class="img-recent-project">
                <img src="../../../assets/imgs/Error 404 Desktop not found.png" alt="Recent project 2">
            </div>
        </div>
    </div>    
</div>
<div class="row portfolio">
    <div class="col-12">
        <h2>Portfolio</h2>
        <!--CARD-->
        <div class="card-portfolio-home">
            <div class="img-portfolio-home">
                <img src="../../../assets/imgs/Error 404 Desktop not found.png" alt="Recent project 1">
            </div>
            <div class="info-portfolio-home">
                <h3>Project Name</h3>
                <img src="../../../assets/imgs/svg/icon_project_html.svg" alt="Skill">
                <img src="../../../assets/imgs/svg/icon_project_css.svg" alt="Skill">
            </div>
        </div>
        <!--CARD-->
        <!--CARD-->
        <div class="card-portfolio-home">
            <div class="img-portfolio-home">
                <img src="../../../assets/imgs/Error 404 Desktop not found.png" alt="Recent project 1">
            </div>
            <div class="info-portfolio-home">
                <h3>Project Name</h3>
                <img src="../../../assets/imgs/svg/icon_project_html.svg" alt="Skill">
                <img src="../../../assets/imgs/svg/icon_project_css.svg" alt="Skill">
            </div>
        </div>
        <!--CARD-->
        <!--CARD-->
        <div class="card-portfolio-home">
            <div class="img-portfolio-home">
                <img src="../../../assets/imgs/Error 404 Desktop not found.png" alt="Recent project 1">
            </div>
            <div class="info-portfolio-home">
                <h3>Project Name</h3>
                <img src="../../../assets/imgs/svg/icon_project_html.svg" alt="Skill">
                <img src="../../../assets/imgs/svg/icon_project_css.svg" alt="Skill">
            </div>
        </div>
        <!--CARD-->
        <div>
            <span class="btn-see-more" (click)="openPortfolioHome()">See more</span>
        </div>        
    </div>    
</div>