<div class="header-home">
    <div class="div-portrait">
        <img class="portrait" src="../../../assets/imgs/Autorretrato_Sin_Fondo.png" alt="Portrait">
    </div>
    <div class="greeting">
        <h2>{{(languagesJSON$ | async)?.hello}}</h2>
        <h1>Willy Lara Campos</h1>
        <h3>{{(languagesJSON$ | async)?.roles}}</h3>
    </div>
    <div class="row main-skills">
        <div class="col">
            <h4 class="text-right">{{(languagesJSON$ | async)?.main_skills}}</h4>
            <img src="../../../assets/imgs/svg/icon_figma.svg" alt="Figma icon">
            <img src="../../../assets/imgs/svg/icon_inkscape.svg" alt="Inkscape icon">
            <img src="../../../assets/imgs/svg/icon_html5.svg" alt="HTML icon">
            <img src="../../../assets/imgs/svg/icon_css3.svg" alt="CSS icon">
            <img src="../../../assets/imgs/svg/icon_javascript.svg" alt="Javascript icon">
        </div>
    </div>
    
    <div class="row recent-projects">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <h4>{{(languagesJSON$ | async)?.recent_projects}}</h4>
            <div routerLink="/project/{{Projects[Projects.length-1].date}}/{{Projects[Projects.length-1].id}}" class="img-recent-project" (click)="setProjectId(Projects[Projects.length-1].id)">
                <img [src]="Projects[Projects.length-1].general_project_image" alt="{{Projects[Projects.length-1].project_name}}">
            </div>
            <div routerLink="/project/{{Projects[Projects.length-2].date}}/{{Projects[Projects.length-2].id}}" class="img-recent-project" (click)="setProjectId(Projects[Projects.length-2].id)">
                <img [src]="Projects[Projects.length-2].general_project_image" alt="{{Projects[Projects.length-2].project_name}}">
            </div>
        </div>
    </div>    
</div>
<div class="row portfolio">
    <div class="col-12">
        <h2>{{(languagesJSON$ | async)?.portfolio}}</h2>
            <!--CARD-->
            <div routerLink="/project/{{newProject.date}}/{{newProject.id}}" *ngFor="let newProject of Projects.slice(0,3)" class="project-card" (click)="setProjectId(newProject.id)">
                <div class="project-card-img">
                    <img [src]="newProject.general_project_image" alt="{{newProject.project_name}}">
                </div>
                <div class="project-card-info">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="project-name">{{newProject.project_name}}</h3>
                        </div>
                        <div class="col-3">
                            <p class="project-date">{{newProject.date}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD-->
        <div>
            <span class="btn-see-more" routerLink="/portfolio" (click)="scrollUp()">{{(languagesJSON$ | async)?.see_more}}</span>
        </div>        
    </div>    
</div>