<div class="row skills">
    <div class="col-12">
        <h1>{{languagesJSON[languagePosition].skills}}</h1>
    </div>
    <div class="col-sm-6">
        <h2>{{languagesJSON[languagePosition].design_and_multimedia}}</h2>
        <p>{{languagesJSON[languagePosition].design_and_multimedia_info}}</p>
            <div class="col-12 container-cards">
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_figma.svg" alt="Figma skill">
                    <p>Figma</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_inkscape.svg" alt="Inkscape skill">
                    <p>Inkscape</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_photoshop.svg" alt="Photoshop skill">
                    <p>Photoshop</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_adobe_xd.svg" alt="Adobe XD skill">
                    <p>Adobe XD</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_premiere_pro.svg" alt="Premiere Pro skill">
                    <p>Premiere Pro</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_gimp.svg" alt="Gimp skill">
                    <p>Gimp</p>
                </div>
                <!--SKILL-->
            </div>
    </div>
    <div class="col-sm-6">
        <h2>{{languagesJSON[languagePosition].software_develop}}</h2>
        <p>{{languagesJSON[languagePosition].software_develop_info}}</p>
            <div class="col-12 container-cards">
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_html5.svg" alt="HTML skill">
                    <p>HTML</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_css3.svg" alt="CSS skill">
                    <p>CSS</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_javascript.svg" alt="JavaScript skill">
                    <p>JavaScript</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_github.svg" alt="GitHub skill">
                    <p>GitHub</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_bootstrap.svg" alt="Bootstrap skill">
                    <p>Bootstrap</p>
                </div>
                <!--SKILL-->
                <!--SKILL-->
                <div class="card-skill">
                    <img src="../../../assets/imgs/svg/icon_php.svg" alt="PHP skill">
                    <p>PHP</p>
                </div>
                <!--SKILL-->
            </div>
    </div>
</div>