:root{
    --black: #000000;
    --white: #ffffff;
    --input-blue: #DDDBF4;
    --light-blue: #CFCCEF;
    --border-blue: #A19CD2;
    --base-blue: #120B67;
    --gold: #D7C34C;
    --light-gold: #F0D84A;
    --input-gold: #FFF2A7;
    --light-gray: #d3d3d3;
}
body{
    background-color: var(--light-blue);
    font-family: 'Roboto';
    font-weight: 300;
    color: black;
}

::-webkit-scrollbar{
    background: var(--light-blue);
    width: .5em;
}
::-webkit-scrollbar-thumb{
    background: var(--base-blue);
}

/**** CLASSES ****/
.min-height{
    min-height: 100vh;
}
.row{
    padding: 0;
}
.btn-see-more{
    text-align: center;
    width: fit-content;
    margin: auto;
    display: block;
    background-color: var(--gold);
    padding: .5em 10em;
    font-size: 1.5em;
    border-radius: .7em;
}
.btn-see-more:hover{
    cursor: pointer;
    background-color: var(--light-gold);
}

/* PROJECT CARD */
.project-card{
    display: inline-block;
    margin: 1.69em 1.6%;
    width: 30%;
    height: auto;
    background-color: gray;
    border-radius: 1em;
    overflow: hidden;
}
.project-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90% !important;
}
.project-date{
    font-size: 1.2em !important;
    padding: .6em !important;
    margin: 0 !important;
}
.project-card:hover{
    cursor: pointer;
}
.project-card-img{
    height: auto;
    width: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.project-card-img img{
    height: auto;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
}
.project-card-info{
    padding: 0 .6em !important;
    height: auto !important;
    background-color: var(--input-blue);
}
.project-card:hover{
    border: .1em solid var(--base-blue);
    margin: 1.59em 1.6%;
}
.project-card:hover .project-card-info{
    background: var(--base-blue);
    color: var(--white);
}
.project-card:hover .project-card-info h3{
    color: var(--white);
}
.project-card-info h3{
    display: inline-block;
    margin: 0 !important;
    padding: .6em 0 !important;
    width: fit-content;
    font-weight: 400 !important;
    font-size: 1.3em !important;
    color: var(--base-blue);
}
/* PROJECT CARD */

/*************************MEDIA QUERIES MOBILE*************************/
@media only screen and (max-width: 576px) {
    .btn-see-more{
        padding: .5em 2em;
        width: 90%;
        font-size: 1em;
    } 
    #languageMobile{
        margin-left: 2em;
        margin-top: 1em;
        padding: .5em 2em;
        color: var(--base-blue);
        background-color: var(--light-blue);
        display: block;
        font-weight: 700;
        text-align: center;
    }
    #languageMobile:hover{
        font-weight: 700;
        background-color: var(--light-blue) !important;
    }
    /* PROJECT CARD */
    .project-card{
        width: 100%;
        margin: 1em 1.6%;
    }
    .project-card-info h3{
        font-size: 1em !important;
    }
    .project-card-info p{
        font-size: 1em !important;
    }
    /* PROJECT CARD */
}
/*************************MEDIA QUERIES TABLET*************************/
@media only screen and (min-width:576.1px) and (max-width: 992px) {
    .btn-see-more{
        padding: .5em 2em;
        width: 90%;
        font-size: 1em;
    } 
    #languageMobile{
        margin-left: 2em;
        margin-top: 1em;
        padding: .5em 2em;
        color: var(--base-blue);
        background-color: var(--light-blue);
        display: block;
        font-weight: 700;
        text-align: center;
    }
    #languageMobile:hover{
        font-weight: 700;
        background-color: var(--light-blue) !important;
    }
    /* PROJECT CARD */
    .project-card{
        width: 45%;
        margin: 1em 1.6%;
    }
    .project-card:hover{
        border: .1em solid var(--base-blue);
        margin: .9em 1.6%;
    }
    .project-card-info h3{
        font-size: 1em !important;
    }
    .project-card-info p{
        font-size: 1em !important;
        text-align: right !important;
    }
    /* PROJECT CARD */
}